{% extends 'main.html' %}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <div class="card-body">
                <h5 class="card-title">User Details</h5>
                <p class="card-text"><strong>ID:</strong> {{ user.id }}</p>
                <p class="card-text"><strong>Username:</strong> {{ user.username }}</p>
                <p class="card-text"><strong>Age:</strong> {{ user.age }}</p>
            </div>
        </article>
    {% else %}
        <section class="container-fluid">
            <h2 align="center">Users</h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item">
                            <a href="/user/{{ user.id }}">{{ user.username }}</a> - Age: {{ user.age }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
